In [5]:
import os
import pandas as pd
import numpy as np

#Reading the data as df
df=pd.read_csv("winequality-red.csv",sep=";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(df)

In [7]:
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
988,7.7,0.39,0.12,1.7,0.097,19.0,27.0,0.99596,3.16,0.49,9.4,5
121,8.8,0.55,0.04,2.2,0.119,14.0,56.0,0.99620,3.21,0.60,10.9,6
998,8.9,0.84,0.34,1.4,0.050,4.0,10.0,0.99554,3.12,0.48,9.1,6
1121,6.6,0.50,0.00,1.8,0.062,21.0,28.0,0.99352,3.44,0.55,12.3,6
1201,7.9,0.34,0.36,1.9,0.065,5.0,10.0,0.99419,3.27,0.54,11.2,7
...,...,...,...,...,...,...,...,...,...,...,...,...
907,6.1,0.56,0.00,2.2,0.079,6.0,9.0,0.99480,3.59,0.54,11.5,6
213,8.2,0.57,0.26,2.2,0.060,28.0,65.0,0.99590,3.30,0.43,10.1,5
220,7.8,0.34,0.37,2.0,0.082,24.0,58.0,0.99640,3.34,0.59,9.4,6
1218,8.2,0.40,0.31,1.9,0.082,8.0,24.0,0.99600,3.24,0.69,10.6,6
440,12.6,0.31,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8

In [8]:
test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
298,7.2,0.650,0.02,2.3,0.094,5.0,31.0,0.99930,3.67,0.80,9.7,5
444,5.3,0.570,0.01,1.7,0.054,5.0,27.0,0.99340,3.57,0.84,12.5,7
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.3,5
1432,5.9,0.440,0.00,1.6,0.042,3.0,11.0,0.99440,3.48,0.85,11.7,6
1203,9.9,0.740,0.19,5.8,0.111,33.0,76.0,0.99878,3.14,0.55,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1210,6.8,0.650,0.02,2.1,0.078,8.0,15.0,0.99498,3.35,0.62,10.4,6
137,7.2,0.415,0.36,2.0,0.081,13.0,45.0,0.99720,3.48,0.64,9.2,5
655,9.7,0.550,0.17,2.9,0.087,20.0,53.0,1.00040,3.14,0.61,9.4,5
1474,9.9,0.500,0.50,13.8,0.205,48.0,82.0,1.00242,3.16,0.75,8.8,5
778,8.3,0.430,0.30,3.4,0.079,7.0,34.0,0.99788,3.36,0.61,10.5,5